@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.topnav a {
    padding-left: 500px;
    padding-top: 500px;
}


header {
    font-size: 70px;
    height: 940px;
}

header h1 {
    padding-top: 240px;
    padding-left: 150px;
    color: #e65100;
    font-family: 'Bebas Neue', cursive;
}

header h2 {
    padding-left: 150px;
    font-size: 140px;
    color: #e65100;
    font-family: 'Bebas Neue', cursive;
}

/*INTRODUCTION*/
.blub {
    display: flex;
}

.blub img {
    width: 15%;
}

.blub h2 {
    font-size: 30px;
}

.blub div {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding-top: 80px;
    padding-bottom: 80px;

}

.blub aside {
    width: 16%;
    padding: 2%;
}

.blub {
    background-color: #f3e7d3;
}

h1,
h2,
h3,
h4 {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    color: #e65100;
}

p {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.wrapper p {
    color: blanchedalmond;
    padding-left: 150px;
    font-size: 30px;
}

.wrapper {
    background-image: url("images/pawel-czerwinski-XWzKALda8kE-unsplash.jpg");
    background-position: top center;
    background-position: auto;
    background-repeat: no-repeat;
}

.hobbies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f3e7d3;
    text-align: center;
    margin: 0;
}

.item {
    width: 30%;
    padding-top: 50px;
}

/* HOVER */
.reading:hover {
    color: black;
    opacity: 50%;
}

.running:hover {
    color: black;
    opacity: 50%;
}

.music:hover {
    color: black;
    opacity: 50%;
}

/* HOVER CLOSE */

.hobbies img {
    width: 100%;
}

.hobbies p {
    color: black;
    font-family: 'Roboto', sans-serif;
}

.hobbies h2 {
    padding-top: 20px;
    font-size: 30px;
}

.bottom {
    padding-bottom: 60px;
}

.contact {
    background-color: #e65100;
    text-align: center;
    height: 500px;
    padding-top: 55px;
}

#contact {
    color: #f3e7d3;
}

.contact h2 {
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 50px;
}

.contact h4 {
    color: #f3e7d3;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}

.contact h4:hover {
    color: #b33d18;
}

.contact a {
    text-decoration: none;
}

.contact p {
    color: blanchedalmond;
}

.blubbie {
    padding-top: 20px;
}

p.solid {
    border-style: solid;
}

/* hamburger menu */

body {
    font-family: 'Roboto', sans-serif;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: blanchedalmond;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    display: block;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

.topnav a:hover {
    color: blanchedalmond;
}

@media (max-width: 768px) {

    /* INTRODUCTION OPEN*/

    .blub img {
        width: 40%;
        margin-left: -60px;
    }

    .blub h2 {
        font-size: 50px;
        width: 170px;
        padding-top: 30px;
    }

    .blub2 {
        width: 220px;
    }

    /* INTRODUCTION CLOSE*/

    /* HOBBIES FOTO OPEN*/

    .item {
        width: 40%;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* HOBBIES FOTO CLOSE*/

    .contact h4:hover {
        color: #b33d18;
    }

}

@media (max-width: 480px) {

    /* HEADER OPEN */

    header h1 {
        font-size: 100px;
        padding-top: 150px;
        padding-left: 50px;
    }

    header h2 {
        padding-left: 50px;
        font-size: 90px;
    }

    header p {
        margin-left: -100px;
        margin-top: -10px;
    }

    /* HEADER ClOSE */

    /* INTRODUCTION OPEN */

    .blub img {
        width: 50%;
    }

    .blub h2 {
        font-size: 30px;
        text-align: center;
        width: 100%;
    }

    .blub div {
        flex-direction: column;
    }

    .blub img {
        width: 50%;
    }

    .blub aside {
        width: 50%;
        text-align: center;
    }

    /* INTRODUCTION CLOSE */

    .hobbies {
        flex-direction: column;
    }

    .item {
        width: 100%;
    }

    .contact h4:hover {
        color: #b33d18;
    }
}