@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
}

.topnav a {
    padding-left: 500px;
    padding-top: 500px;
}


header {
    font-size: 40px;
    height: 600px;
}

header h1 {
    padding-top: 150px;
    padding-left: 150px;
    color: blanchedalmond;
    font-family: 'Bebas Neue', cursive;
}

header h2 {
    padding-left: 150px;
    font-size: 80px;
    color: blanchedalmond;
    font-family: 'Bebas Neue', cursive;
}

.introduction {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 450px;
    padding-bottom: 150px;
    background-color: #FFFAF1;
}

.introduction p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 700px;
    padding-top: 260px;
}

.introduction h2 {
    padding-top: 150px;
    font-size: 50px;
}

.portret {
    margin-left: 250px;
    margin-right: 50px;
    margin-top: 100px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    color: #e65100;
}

p {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.wrapper p {
    color: blanchedalmond;
    padding-left: 150px;
    font-size: 30px;
}



.wrapper {
    background-image: url("images/pawel-czerwinski-XWzKALda8kE-unsplash.jpg");
    background-position: top center;
    background-position: auto;
    background-repeat: no-repeat;
}

.hobbies {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #FFFAF1;
}

.hobbies div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    justify-content: space-around;
    width: 33%px;
}

.hobbies p {
    color: black;
    font-family: 'Roboto', sans-serif;
}


.contact {
    background-color: #FFFAF1;
    text-align: center;
}

/* hamburger menu */

body {
    font-family: 'Roboto', sans-serif;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: blanchedalmond;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    display: block;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

.topnav a:hover {
    color: blanchedalmond;
}

@media (max-width: 480px) {}